# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables & secrets
.env
.env.*
!.env.example
*.key
*.pem
secrets.json

# Hardhat files
cache/
artifacts/

# TypeChain files
typechain/
typechain-types/

# Solidity coverage files
coverage/
coverage.json

# Hardhat Ignition deployments
ignition/deployments/
# But if it's meant to be shared, only ignore the local chain data:
# ignition/deployments/chain-31337

# Production builds
dist/
dist-ssr/
out/
build/

# Editor & OS junk
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Temporary files
tmp/
temp/
.temp/
.tmp/
